<div class="container">
  <!-- Image Banner -->
    <div class="public-banner">
        <div class="row text-center">
            <div class="col-lg-12">
                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJd9ozT819j4ARE4WYPW-OrkM&key=AIzaSyDZKO-UyfuAETE4xw-K7raksMvwgPZWX58" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- About page -->
    <div class="page-body">
        <div class="row text-center">
            <div class="col-lg-4">
                <h3>Hours</h3>
                <p>Open 7 days a week 12pm to 9pm.</p>
            </div>
            <div class="col-lg-4">
                <h3>Location</h3>
                <p>
                    1234 Street Name<br/>
                    Vancouver, BC<br/>
                    604.123.1234
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Reservations</h3>
                <p>For reservations, please call 604.123.1234. 24 hours notice required to cancel a reservation.</p>
            </div>
        </div>
    </div>
</div>
