<div class="footer">
    <div class="container">
        <div class="col-lg-12">
            <h1>Public</h1>
            <p>1234 Peoria St, Daly City, CA 94014</p>
            <p>Hours: Open 12pm to 9pm 7 days a week</p>
            <div class="social-media">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <p>&copy; 2015 Public Restaurant</p>
        </div>
    </div>
</div>
